body {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.board div {
    width: 100%;
    height: 100%;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.moles div {
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2.5%;
}

/*need to get the grid of moles to stay 2 rows by 4 moles*/

.button {
    text-align: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.button button {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 10px;
    background: skyblue;
    border-radius: 10px;
    border: 5px solid gold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/*
.grid {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}*/

#player-one-score {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 10%;
    font-size: 20px;
    background: lightpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#player-two-score {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 10%;
    font-size: 20px;
    background: lightpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/*player 1 score and player 2 score (add)*/
/*use transform: scale*/
/*transition: background 0.5s ease-in-out, transform 0.5s ease-in-out*/

/*#timer {
    display: inline-block;
    font-size: 40px;
    background: gold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10%;
    left: 80%;
}*/