body {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: auto, 0;
}

.button {
    text-align: center;
    width: 100%;
    height: 51px;
    margin: 0 auto;
}

.button button {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: 10px;
    background: skyblue;
    border-radius: 10px;
    border: 5px solid gold;
}

.game {
    width: 600px;
    height: 400px;
    /*  display: flex;
	flex-wrap: wrap;
	margin: 0 auto;*/
}

.score-board {
    position: absolute;
    top: 10%;
    left: 10%;
}

.score {
    display: inline-block;
    font-size: 40px;
    background: lightpink;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.timer-board {
    display: inline-block;
    font-size: 40px;
    background: gold;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10%;
    left: 80%;
}